body {
    background-color: lightcyan;
}

button {
    background-color: lightskyblue;
    border: 0;
    border-radius: .5rem;
    padding: .5rem;
}

button:hover {
    background-color: lightgoldenrodyellow;
    cursor: pointer;
}

a {
    color: black;
    text-decoration: none;
}

